@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  font-family: "Montserrat", sans-serif;
}

@layer base {
  :root {
    --background: 131 100% 95%;
    --foreground: 131 5% 0%;
    --card: 131 50% 90%;
    --card-foreground: 131 5% 10%;
    --popover: 131 100% 95%;
    --popover-foreground: 131 100% 0%;
    --primary: 131 87% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 93 30% 85%;
    --muted-foreground: 131 5% 35%;
    --accent: 93 30% 80%;
    --accent-foreground: 131 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 131 5% 90%;
    --border: 131 30% 50%;
    --input: 131 30% 18%;
    --ring: 131 87% 42%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 131 50% 5%;
    --foreground: 131 5% 90%;
    --card: 131 50% 0%;
    --card-foreground: 131 5% 90%;
    --popover: 131 50% 5%;
    --popover-foreground: 131 5% 90%;
    --primary: 131 87% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 93 30% 15%;
    --muted-foreground: 131 5% 60%;
    --accent: 93 30% 15%;
    --accent-foreground: 131 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 131 5% 90%;
    --border: 131 30% 18%;
    --input: 131 30% 18%;
    --ring: 131 87% 42%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
